{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Git Name" -}}
{{- $github_token := promptStringOnce . "github api token" "Github Api Token" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    github_token = {{ $github_token | quote }}
[edit]
    command = "vim"
    args = ["--wait"]
[git]
    autoCommit = true
    autoPush = true
