[init]
  defaultBranch = main
[user]
  name = {{ .name }}
  email = {{ .email }}
  token = {{ .github_token }}
[core]
  excludesfile = $HOME/.gitignore
[alias]
  # Mark a repo as trusted
  trust = "!mkdir -p .git/safe"

  freshen-pushed-branch-old = !sh -c 'git fetch origin && git rebase $UPSTREAM && git push -f'
  freshen-pushed-branch = !sh -c 'git fetch origin && git rebase $UPSTREAM && git push -f'

  wip-edit = !sh -c 'vim -p $(git diff --name-only)'
  fixup = commit --amend
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
